<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag 'styles' %>
  </head>
  <body>
    <% if in_lesson? %>
      <div class="main-header">
        <p><%= link_to "&#x2196; Back to index", root_path %></p>
      </div>
    <% end %>
    <div class="main-body">
      <h1><%= current_page.data.title %></h1>
      <%= yield %>

      <div class="pagination-links">
        <% if prev_lesson %>
          <p class="pagination-links__prev"><%= link_to "Previous: #{prev_lesson.title}", prev_lesson.url %></p>
        <% end %>
        <% if next_lesson %>
          <p class="pagination-links__next"><%= link_to "Next: #{next_lesson.title}", next_lesson.url %></p>
        <% end %>
      </div>
    </div>
    <footer class="main-footer">
      <p>A work in progress by <a href="http://www.pablobm.com">Pablo Brasero Moreno</a></p>
      <p>Source code at <a href="https://github.com/pablobm/pygame-tutorial">http://github.com/pablobm/pygame-tutorial</a></p>
      <p>Last updated on <time><%= today_stamp %></time></p>
    </footer>
  </body>
</html>
